<web-app>

  <servlet>
    <servlet-name>productsServlet</servlet-name>
    <servlet-class>com.antonr.webshop.web.servlet.AllProductsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productsServlet</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>productAddServlet</servlet-name>
    <servlet-class>com.antonr.webshop.web.servlet.AddProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>productAddServlet</servlet-name>
    <url-pattern>/product/add</url-pattern>
  </servlet-mapping>

</web-app>